version: "3.7"

services:
    mysql:
        image: mysql
        environment:
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_USER=user
            - MYSQL_PASSWORD=password
            - MYSQL_DATABASE=laravel
        volumes:
            - mysql:/var/lib/mysql
        ports:
            - 3306:3306
    redis:
        image: redis:5.0
        ports:
            - 6379:6379
    mailhog:
        image: "mailhog/mailhog:latest"
        ports:
            - 1025:1025
            - 8025:8025
volumes:
    mysql:
